* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 148, 246);
  /* font-family: "Agbalumo"; */
}

h1 {
  font-family: "Agbalumo";
  margin-top: 50px;
  margin-left: 50px;
}
p {
  width: 50%;
  font-family: sans-serif;
  margin-top: 20px;
  margin-left: 50px;
  line-height: 21px;
}
.img1 {
  height: 400px;
  width: 400px;
  margin-left: 50px;
  margin-top: 20px;
}
.img2 {
  height: 400px;
  width: 500px;
  margin-left: 50px;
  margin-top: 20px;
}
